body {
    background-color: black;
}

#title {
    color: yellow;
    font-family: "Hiragino Maru Gothic ProN";
    font-size: 3em;
    padding: 280px 420px 0px 420px;
}

#button-container {
    padding: 0px 420px 10px 420px;
}

a, a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

#play-button {
    background: greenyellow;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    color: black;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 100;
    margin: 50px 320px 20px 180px;
    padding: 15px 30px 15px 30px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

#play-button:hover {
    background-color:mediumblue;
}