<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory block cards</title>
    <link rel="shortcut icon" type="image/png" href="../static/dalmatian-puppy.png" />
    <link rel="stylesheet" href="../static/first_page.css">
</head>
<body>
<div id="title">Memory Card Game
    <span class="standardg">
    <label id="standard">Standard</label>
    <button id="play-button"><a style="text-decoration: none;" href="/play">PLAY</a></button>
    </span>
    <span class="customisedg">
    <label id="customised">Customised game</label>
    <button id="play-button"><a style="text-decoration: none;" href="/customised" class="game-info-dif" name="startGame" onclick="startGame();">Go to the game</a></button>
    </span>
</div>>
</body>
</html>