<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Blocks Game</title>
    <link rel="shortcut icon" type="image/png" href="../static/pinkblack-heart-favicon.png" /> 
    <link type="text/css" rel="stylesheet" href="../static/styles.css" />
    <script src="../static/scripts.js" defer></script>
    <script src="https://kit.fontawesome.com/49a3922351.js" crossorigin="anonymous" defer></script>
</head>
<body>

    <div class="game-container">
        <div class="game-dif">
            <label class="game-info-dif" for="difficulty">Game Difficulty</label>
            <label class="game-info-dif" for="startGame">Choose between 2, 4, 6, 8 or 10 cards</label>
        </div>
        <div class="game-dif">
            <input class="game-info-dif" id="difficulty" type="number" min="2" max="10" step="2" value="4" name="difficulty" />
            <button class="game-info-dif" name="startGame" onclick="startGame();">Start Game</button>
        </div>
    <div id="gameContainer"></div>
    </div>
</body>
</html>