<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Memory Card</title>

    <link rel="stylesheet" href="../static/images/standard.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/dalmatian-puppy.png" />
    <script src="../static/images/standard.js" defer></script>
</head>
<body>
  <section class="memory-game">
      <div class="memory-card" data-puppy="pup1">
          <img class="front-face" src="../static/images/pup1.png" alt="pup1"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup1">
          <img class="front-face" src="../static/images/pup1.png" alt="pup1"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup2">
          <img class="front-face" src="../static/images/pup2.png" alt="pup2"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup2">
          <img class="front-face" src="../static/images/pup2.png" alt="pup2"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup3">
          <img class="front-face" src="../static/images/pup3.png" alt="pup3"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup3">
          <img class="front-face" src="../static/images/pup3.png" alt="pup3"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
       <div class="memory-card" data-puppy="pup4">
           <img class="front-face" src="../static/images/pup4.png" alt="pup4"/>
           <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup4">
          <img class="front-face" src="../static/images/pup4.png" alt="pup4"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup5">
          <img class="front-face" src="../static/images/pup5.png" alt="pup5"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup5">
          <img class="front-face" src="../static/images/pup5.png" alt="pup5"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup6">
          <img class="front-face" src="../static/images/pup6.png" alt="pup6"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
      <div class="memory-card" data-puppy="pup6">
          <img class="front-face" src="../static/images/pup6.png" alt="pup6"/>
          <img class="back-face" src="../static/images/yellow-question-mark.png" alt="front-face"/>
      </div>
  </section>
</body>
</html>